$background: #F3F6FF;
$bleuElectrique: #0077FF;
$grisbordure:#D9D5D4;
$typecolor: #8D9FB8;
$colorDark: #263D5C;


html,body{
     width: 100%;
     height: 100%;
     padding:auto;
     background-color:$background;
     font-family: 'Lato', sans-serif;
}
main{
    width:100%;
    height:100%;
}
.tab-wrapper
    { 
        display:flex;
        align-items:center;
        justify-content: center;
         font-size: 1em;
         border-bottom: 2px solid $grisbordure;
         background-color: white;
    }
.tabs{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
    }

.tab-link{
     margin: 0;
     list-style: none;
     padding: 25px 40px;
     color: #aaa;
     cursor: pointer;
     font-weight: 700;
     transition: all ease 0.3s;
     border-bottom: solid 3px rgba(255,255,255,0.0);
     letter-spacing: 1px;}

.tab-link:hover{
     color: #999;
     border-color: #999;}
     

.tab-link.active{
     color: #333;
     border-color: #333;
     
     }


.tab-link:nth-of-type(1).active{
     color: $bleuElectrique;
     border-color: $bleuElectrique;
 }

.tab-link:nth-of-type(2).active{
     color: $bleuElectrique;
     border-color: $bleuElectrique;}
.tab-link:nth-of-type(3).active{
     color: $bleuElectrique;
     border-color: $bleuElectrique;
 }
    .tab-content{
        display: none;
        color: #888;
        font-weight: 300;
        font-size: 15px;
        opacity: 0;
        transform: translateY(15px);
        animation: fadeIn 0.5s ease 1 forwards;}
   
   .tab-content.active{
        display: block;
       }
.logo{
    position:absolute;
    left:20px;
    width:120px;
}

@keyframes fadeIn{
    100%{
        opacity: 1;
    }
    transform: none;
}
.page{
    margin:auto;
    background:white;
    width:80%;
    min-height:800px;
    margin-top:50px;
    border-radius:8px;
    border: 1px solid $grisbordure;
}
.main-content{
    display:flex;
    padding:30px 20%;
    justify-content: space-between;
}
.page .tab-content .titreLigne{
    color:$colorDark;
    font-size:1.7em;    
}
.ligne{
    display:flex;
}
.ligne h1{
    padding-right:50px;
    display:flex; 
    align-items:center;
}
.dropdown{
    color:$typecolor;
    width:180px;
    height:60px;
    padding:15px;
    border-radius:100px;
    font-size:1em;
}
.disabled-option{
    color:$typecolor;
}

.typeAround{
    padding-top:30px;
    padding-bottom:30px;
    margin:auto;
    width:70%;
}
.typeAround section {
    border: 2px solid $typecolor;
}
.file-marker > div {
    padding: 0 10px;
    min-height: 200px;
    margin-top: -1.3em;
}
.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 10px;
    margin-left: 3em;
    font-size:1.8em;
    color: $colorDark;
}
.box-contents .audit-trail{
    display:flex;
    padding:30px;
    color: $typecolor;
    font-size:1.4em;
}
.listeInfo>li{
    padding:10px;
    width:100%;
}
strong{
    font-weight:bold;
}
.title2{
    font-size:1.1em;
    color:$colorDark;
    padding-bottom:15px;
}
.title3{
    color:$bleuElectrique;
}
label{
    background:$bleuElectrique;
    color:white;
    padding: 3px 20px;
    border-radius: 100px;
    margin-left:5px;
}
.lineInput{
    width:100%;
    padding-top:10px;
}
.lineInput input{
    margin-right:20px;
    border-radius:100px;
    border:1px solid $colorDark;
    background:white;
    height:50px;
    padding:15px;
}
.titlePad{
    padding-top:30px;
    color:$colorDark;
    font-weight:lighter;
    font-size:1.1em;
}
.lineButton button{
    background:$bleuElectrique;
    border:none;
    border-radius:100px;
    padding:0 20px;
    margin-top:10px;
    height:50px;
    color:white;
    margin-right:30px;
    font-size:0.8em;
    font-weight:bold;
}
.title2.efficience{
    margin-top:25px;
}
.hour{
    color:$colorDark;
    margin-top:10px;

}

.hour .dropdown.blue{
    background: $bleuElectrique;
    border:none;
    color:white;
    width:100px;
    padding-left:20px;
    margin-left:10px;
}

.hour .dropdown.blue option{
    color:white;
}

.typeAround.little{
    font-size:0.6em;
    width:100%;
    margin-top:10px;
}
.typeAround.little .file-marker div .box-title{
    color:$typecolor;
}
.test{
    display:flex;
    flex-direction:column;
}
.test .title4{
    padding:20px;
    color:$bleuElectrique;  
    font-size:1.3em;
}
.test2{
    margin-left:20px;
    border-radius:0;
}
.test .title4.dark{
    color:$colorDark;
    font-size:1em;
    margin-left:15px;
    margin-top:20px;
}
.test .title4.dark label{
    background: $colorDark;
}
input.inputQuantity{
    width:75%;
    height:50px;
    border-radius:100px;
    border:none;
    border: 1px solid $colorDark;
    margin-left:20px;
    font-size:1em;
    padding-left:20px;
}
.buttonC2A{
    background-color:white;
    border: 3px solid $bleuElectrique;
    padding:15px;
    margin-right:10px;
    border-radius: 100px;
    font-size:0.9em;
    color: $bleuElectrique;
    font-weight: bold;
}
.buttonC2A:hover{
    background-color:$bleuElectrique;
    border: 3px solid $bleuElectrique;
    padding:15px;
    margin-right:10px;
    border-radius: 100px;
    font-size:0.9em;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.Send{
    margin:40px;
    height:70px;
    padding:0 30px;
    background:$bleuElectrique;
    border:none;
    border-radius: 100px;
    color:white;
    font-size:1.7em;
    font-weight: bold;
}
.cheat{
    width:100%;
    display:flex;
    justify-content: center;

}
.disable{
    display:none;
}